<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Next Sub In One Click</h3>
</div>

<div class="jumbotron">
  Etat du traffic
    <p>
        <img src="../images/RER.svg" width="20px" height="20px"> :
        <img src="../images/Feu_vert.svg" width="20px" height="20px" ng-show="trafficRER.status == 1">
        <img src="../images/Feu_orange.svg" width="20px" height="20px" ng-show="trafficRER.status == 2" tooltip-placement="right" tooltip="{{trafficRER.message}}">
        <img src="../images/Feu_rouge.svg" width="20px" height="20px" ng-show="trafficRER.status == 3">
    </p>
    <p>
        <img src="../images/Metro-M.svg" width="20px" height="20px"> :
        <img src="../images/Feu_vert.svg" width="20px" height="20px" ng-show="trafficMetro.status == 1">
        <img src="../images/Feu_orange.svg" width="20px" height="20px" ng-show="trafficMetro.status == 2" tooltip-placement="right" tooltip="{{trafficMetro.message}}">
        <img src="../images/Feu_rouge.svg" width="20px" height="20px" ng-show="trafficMetro.status == 3">
    </p>
    <p>
        <img src="../images/SNCF.svg" width="20px" height="20px"> :
        <img src="../images/Feu_vert.svg" width="20px" height="20px" ng-show="trafficSNCF.status == 1" >
        <img src="../images/Feu_orange.svg" width="20px" height="20px" ng-show="trafficSNCF.status == 2" tooltip-placement="right" tooltip="{{trafficSNCF.message}}">
        <img src="../images/Feu_rouge.svg" width="20px" height="20px" ng-show="trafficSNCF.status == 3">
    </p>
    <p>
        <img src="../images/bus.svg" width="20px" height="20px"> :
        <img src="../images/Feu_vert.svg" width="20px" height="20px" ng-show="trafficBUS.status == 1">
        <img src="../images/Feu_orange.svg" width="20px" height="20px" ng-show="trafficBUS.status == 2" tooltip-placement="right" tooltip="{{trafficBUS.message}}">
        <img src="../images/Feu_rouge.svg" width="20px" height="20px" ng-show="trafficBUS.status == 3">
    </p>
</div>

<div class="row marketing">
    <select ng-model="ligneSelected" ng-options="c.ligne for c in transports">
        <option value="">-- choose Sub --</option>
    </select>
    <select ng-show="ligneSelected" ng-model="destinationSelected" ng-options="c.destination for c in ligneSelected.destinations">
        <option value="">-- choose Dest --</option>
    </select>
    <select ng-show="destinationSelected" ng-model="stationSelected" ng-options="c.station for c in ligneSelected.stations">
        <option value="">-- choose Station --</option>
    </select>
    <ul ng-repeat="(key,value) in time.times">
        <ul ng-bind="value"></ul>
    </ul>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
