<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Next Sub In One Click</h3>
</div>
<div class="body">



        <p>Avec NextSub, informez vous en direct du traffic et des horaires RATP et SNCF sur une seule page.</p>

        <h1>Traffic</h1>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <td><img src="../images/RER.svg" width="30px" height="30px"></td>
                        <td><img src="../images/METRO.svg" width="30px" height="30px"></td>
                        <td><img src="../images/SNCF.svg" width="30px" height="30px"></td>
                        <td><img src="../images/BUS.svg" width="30px" height="30px"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="../images/Feu_vert.svg" width="30px" height="30px" ng-show="trafficRER.status == 1">
                            <img src="../images/Feu_orange.svg" width="30px" height="30px" ng-show="trafficRER.status == 2" tooltip-placement="right" tooltip="{{trafficRER.message}}">
                            <img src="../images/Feu_rouge.svg" width="30px" height="30px" ng-show="trafficRER.status == 3">
                        </td>
                        <td>
                            <img src="../images/Feu_vert.svg" width="30px" height="30px" ng-show="trafficMetro.status == 1">
                            <img src="../images/Feu_orange.svg" width="30px" height="30px" ng-show="trafficMetro.status == 2" tooltip-placement="right" tooltip="{{trafficMetro.message}}">
                            <img src="../images/Feu_rouge.svg" width="30px" height="30px" ng-show="trafficMetro.status == 3">
                        </td>
                        <td>
                            <img src="../images/Feu_vert.svg" width="30px" height="30px" ng-show="trafficSNCF.status == 1" >
                            <img src="../images/Feu_orange.svg" width="30px" height="30px" ng-show="trafficSNCF.status == 2" tooltip-placement="right" tooltip="{{trafficSNCF.message}}">
                            <img src="../images/Feu_rouge.svg" width="30px" height="30px" ng-show="trafficSNCF.status == 3">
                        </td>
                        <td>
                            <img src="../images/Feu_vert.svg" width="30px" height="30px" ng-show="trafficBUS.status == 1">
                            <img src="../images/Feu_orange.svg" width="30px" height="30px" ng-show="trafficBUS.status == 2" tooltip-placement="right" tooltip="{{trafficBUS.message}}">
                            <img src="../images/Feu_rouge.svg" width="30px" height="30px" ng-show="trafficBUS.status == 3">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

<div class="row marketing" ng-controller="TimeCtrl">
    <h1>Horaire</h1>
    <table class="table" ng-show="!selectedNetwork">
        <thead>
        <tr>
            <td ng-click="network('RER')" class="network" ng-class="{'network-selected': selectedNetwork}">
                <img src="../images/RER.svg" width="30px" height="30px" >
            </td>
            <td ng-click="network('METRO')" class="network">
                <img src="../images/METRO.svg" width="30px" height="30px">
            </td>
            <td ng-click="network('SNCF')" class="network">
                <img src="../images/SNCF.svg" width="30px" height="30px" >
            </td>
            <td ng-click="network('BUS')" class="network">
                <img src="../images/BUS.svg" width="30px" height="30px">
            </td>
        </tr>
        </thead>
    </table>
    <table class="table" ng-if="selectedNetwork" ng-show="selectedNetwork && !selectedLine">
        <tr>
            <td class="network-selected">
                <img ng-src="../images/{{selectedNetwork}}.svg" width="30px" height="30px" >
            </td>
            <td ng-show="listNetwork" ng-repeat="network in listNetwork">
                <img ng-src="../images/{{selectedNetwork}}_{{network.ligne}}.svg" width="30px" height="30px" ng-bind="network.ligne" ng-click="selectLine(this)">
            </td>
        </tr>
    </table>
    <table class="table" ng-if="selectedLine" ng-show="!selectedDestination">
        <tr>
            <td class="network-selected">
                <img ng-src="../images/{{selectedNetwork}}.svg" width="30px" height="30px" >
            </td>
            <td class="network-selected">
                <img ng-src="../images/{{selectedNetwork}}_{{selectedLine}}.svg" width="30px" height="30px" >
            </td>
            <td>
                <ul class="unstyled" ng-repeat="dest in listDestination">
                    <label ng-bind="dest.destination" ng-click="selectDest(dest)"></label>
                </ul>
            </td>
        </tr>
    </table>
    <ul class="list-inline" ng-if="listStations" ng-show="listStations">
        <li><img ng-src="../images/{{selectedNetwork}}.svg" width="30px" height="30px" ></li>
        <li><img ng-src="../images/{{selectedNetwork}}_{{selectedLine}}.svg" width="30px" height="30px" ></li>
        <li><label ng-bind="selectedDestination.destination"></label></li>
        <li>
            <select ng-model="selectedStation" ng-options="c.station for c in listStations" ng-change="selectSta(selectedStation)"></select>
        </li>
        <ul ng-repeat="(key,value) in time.times" ng-show="times">
            <ul ng-bind="value"></ul>
        </ul>
    </ul>
    {{times}}
</div>

</div>
<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
